.border-preview {
  display: flex;
  flex-flow: column;
  margin: 40px auto 0 auto;
  width: 80vw;
}

.bp-section {
  margin: 0 auto 30px auto;
  width: 100%;
}

@media screen and (min-width: 600px) {
  .bp-section {
    width: 50vw;
  }
}

@media screen and (min-width: 800px) {
  .bp-section {
    width: 30vw;		
  }
}

.bp-box {
  border: 2px solid lightslategray;
  width: 100%;
  padding: 5%;
}

.bp-visualize-css {
  font-size: 1.4em;
}

.bp-css-values {
  margin-left: 20px;
}

.bp-form-container {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 10px;
  width: 100%;
}

.bp-input-wrapper {
  width: 100%;
  text-align: center;
}

.bp-form-group {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: flex-start;
  font-size: 1.4em;
}

.bp-form-group-label {
  width: 30%;
}

.bp-form-group-input {
  width: 70%;
}

.bp-input {
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.bp-percent-sign {
  font-weight: bold;
}
