.calculator {
  display: flex;
  flex-flow: column;
  width: 100vw;
  height: 100vh;
  color: #dadad9;
  background-color: #232b2b;
}

.calc-wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  font-size: 4em;
  max-width: 294px;
  margin: 0 auto;
}

.calc-display-field {
  width: 100%;
  font-size: 2em;
  text-align: right;
  color: whitesmoke;
  background-color: #232b2b;
}

.calc-button-row {
  display: flex;
  flex-flow: row nowrap;
  margin: auto;
  gap: 7px;
  width: 100%;
  background-color: #232b2b;
}

.calc-button-wrapper {
  min-width: 1.7em;
  height: 1.7em;
  margin-bottom: 7px;
  text-align: center;
}

.calc-button {
  width: 100%;
  height: 100%;
  border-radius: 500%;
}

.zero-btn-wrapper {
	flex-grow: 2;
}

#zero {
  border-radius: 500px;
}

.clear,
.all-clear,
.sign {
  background-color: #d4d4d4;
  color: #232b2b;
}

.clear:active,
.all-clear:active,
.sign:active {
  background-color: #ffffff;
  color: #232b2b;
}

.number,
.decimal {
  background-color: #494848;
  color: whitesmoke;
}

.number:active,
.decimal:active {
  background-color: whitesmoke;
  color: #494848;
}

.operator {
  background-color: #ff9a00;
  color: whitesmoke;
}

.active,
#equal:active {
  background-color: whitesmoke;
  color: #ff9a00;
}
