.converter {
  display: flex;
  flex-flow: column;
  margin: 40px auto 0 auto;
  width: 80vw;
}

.binary-link {
  color: blue;
  text-align: center;
}

.converter-form-group {
  margin-bottom: 15px;
}

.converter-input {
  width: 100%;
  font-size: 2.5em;
}

.binary-input {
  border: 1px solid black;
  border-radius: 5px;
}

.binary-input:focus {
  outline: none !important;
  box-shadow: none;
}

.converter-button-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
}

.converter-button {
  font-size: 2.5em;
  border-radius: 5px;
  margin-bottom: 15px;
  background-color: #eaeaea;
  color: #36382e;
}

.converter-button:active {
  background-color: #3bb5e6;
  color: #dadad9;
}
